@charset "utf-8";
/* CSS Document */

body {
  background-color: #033;
  margin: 0;
  font-size: 1rem;

position: absolute;
  top: 80px;
  left: 540px;

}

/* Css - Texto con Degradado */
a {
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:36px;
  font-family:"Arial Black", Gadget, sans-serif;

}

h2 {
	font-family: Tahoma, sans-serif;
	color:#CCC;
	font-size:50px;


	}
  
button {
     border: none;
     padding: 10px;
     border-radius: 10px;
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.btn {
display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-family: Tahoma, sans-serif;
}
