*{
    padding: 0;
    margin: 0;
    font-family: Arial sans-serif;
    font-size: 18px;
}

header{
    width: 100%;
    background: rgb(204, 151, 35);
    text-align: center;
    margin: auto;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
}

header nav ul ul {
    display: none;
    background: rgb(204, 151, 35);
}

header nav ul li:hover ul {
    display: block;
    position: absolute;
}
